<hr>
<footer >
    <div class="container px-5">
        <div >
            <h2>KeepKoding Full Stack Bootcamp  - 2023. <%= __('Advanced Backend Module Practice') %>.</h2>
            <p><%= __('By') %> Javier Girón López</p>
        </div>
    </div>

    </footer>
</body>
</html>